/* Альтернативная индикация "онлайн" */

a.bp_thumb._online.online img,.chat_tab_imgcont._chat_tab_image._online.online .chat_tab_img, .nim-peer._online.online._im_peer_online>img, a.friends_photo._online.online.mobile>img, .nim-peer._online.online._im_peer_online img, a.post_image._online.online img, ._online.online .friends_photo_img, ._online.online .group_u_photo_img {
	border: 3px solid var(--color1);
	padding:1px;
}
.online.mobile .chat_tab_img, .online.mobile .friends_photo_img, .online.mobile .bp_img, .nim-peer._online.online.mobile._im_peer_online img, ._online.online.mobile .group_u_photo_img {
	border: 3px dotted var(--color1) !important;
}
.nim-peer.nim-peer_online .nim-peer--online, .chat_tab_online_icon, .chat_tab_wrap:hover .chat_tab_online_icon, .ts_contact_photo:after, span.fc_contact_photo:after, .online:after, .wddi_over .wddi_thumb .wdd_mark, .wdd_mark, .layers_shown .chat_tab_online_icon, .friends_user_row .online:after, .group_u_photo.online:after, .chat_tab_imgcont.online:after ,.nim-peer._online._im_peer_online  .nim-peer .nim-peer--photo .im_grid>img {
	display:none;
}
.nim-dialog_selected .nim-peer._online.online._im_peer_online img {
	border: 3px solid var(--color8);
}
.nim-dialog_selected .nim-peer._online.online.mobile._im_peer_online img {
	border: 3px dotted var(--color8) !important;
}
.nim-peer .nim-peer--photo .im_grid>img, .nim-peer .nim-peer--photo>img, .chat_tab_img {
	width:36px;
  height:36px;
}
.friends_phonebook .friends_photo_img, .friends_phonebook ._online.online .friends_photo_img, .nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo .im_grid>img, .nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo>img {
	width:42px;
  height:42px;
}
.group_u_photo_img {
  width: 77px;
  height: 77px;
}
._online.online .friends_photo_img, ._online.online .group_u_photo_img{
	width:70px;
  height:70px;
}
.bp_thumb, .bp_img {
	width:48px;
  height:48px;
}
.nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo .im_grid>img, .nim-peer .nim-peer--photo .im_grid>img, .nim-peer .nim-peer--photo>img {
	margin:2px 0 2px 2px;
}
.chat_tab_img {
	margin:2px 0 2px -2px;
}
.bp_post ._online:not(.online) img {
	margin-left:4px;
}
.bp_post  ._online, .nim-dialog--photo .nim-peer.online  {
	margin-left:-4px;
}
.online.nim-peer.nim-peer_smaller .nim-peer--photo .im_grid>img  {
  border: 2px solid var(--color1) !important;
  width:26px;
  height:26px;
}
.mobile.nim-peer.nim-peer_smaller .nim-peer--photo .im_grid>img  {
  border: 2px dotted var(--color1) !important;
  width:26px;
  height:26px;
}

.nim-peer.nim-peer_search .nim-peer--photo, .nim-peer .nim-peer--photo-w {
  overflow: visible;
}
