/* Сворачивать поле поиска в шапке */

input.text.ts_input {
  width: 26px !important;
  padding-left: 19px !important;
  border-left: 4px solid transparent;
  background-position: 4px 8px;
  transition: .3s ease-out;
}

input.text.ts_input:focus {
  width: 230px !important;
}

input.text.ts_input:focus {
  width: 230px !important;
  transition: all .3s ease-in-out;
}

.ts_wrap .input_back_content {
  font-size: 0px;
}

input.text.ts_input {
  cursor: pointer;
}

input.text.ts_input:hover {
  background-color: var(--color7);
  cursor: pointer;
}

input.text.ts_input:focus {
  cursor: text;
}

.top_audio_layer {
  margin-left: -90px !important;
}